<!DOCTYPE html>
<html lang="en">
<head>
    <title>Super Sprinter 3000 </title>
    <link rel="stylesheet" type="text/css" href={{url_for('static', filename="css/bootstrap.min.css") }}/>
</head>

<body>
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/"><b>Super Sprinter 3000</b></a>
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/story/0" >Add a new User Story</a> </li>
  </div>
</nav>

<h3>User Story Manager</h3>



<table style="width:100%" id="myTable">
    <tr>
        <th>ID</th>
        <th>Story Title</th>
        <th>User Story</th>
        <th>Acceptance Criteria</th>
        <th>Business Value</th>
        <th>Estimation</th>
        <th>Status</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    {% for item in sprinters %}
    <tr>
        <td>{{ item.id }}</td>
        <td>{{ item.title }}</td>
        <td>{{ item.story }}</td>
        <td>{{ item.acceptance_criteria }}</td>
        <td>{{ item.business_value }}</td>
        <td>{{ item.estimation }}</td>
        <td>{{ item.status }}</td>
        <td align="right"><a href="/story/{{ item.id }}">
                <input type="image" src="/static/pen.png" name="Edit" id="edit" style="width:30px;height:30px;" />
            </a>
        </td>
        <td align="center"><a href="/delete/{{ item.id }}" >
                <input type="image" src="/static/bin.png" name="Delete" id="delete" style="width:30px;height:30px;" />
            </a>
        </td>
    </tr>
    {% endfor %}
</table>



</body>
</html>